 *
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}
ul,
ol
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 8pt;
}

header{
    text-align: center;
}
header .logo img
{
    color: #fff;
    width: 130px;
    height: 131px;
}
.menu {
    margin: 10px 24px;
}
header .menu ul{
    display: flex;
    padding: 5px 7px;
    
}
header ul li {
    padding: 0 1px;
}
header .menu ul li a,
.navbar ol li a  {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 2px;
} 


.navbar{
    margin: 30px auto ;
}
.navbar ol {
    display: flex;
    margin-left: 52px;
}
.navbar ol li {
    border: none;
}

.the_first {
    text-align: center;
}
.the_first h1{
    padding-bottom: 10px;
}
.the_first p{
    max-width: 90%;
    padding: 5px 0 10px 35px;
}


.list
{
    margin: 10px 10px;
}
.list .the_one
{
    border: 1px solid #000;
    border-radius: 10px;
    width: 215px;
    text-align: center;
    height: auto;
    margin: 11px auto;
}
.list .the_one:hover {
    transition: all 0.5s;
    transform: scale(105%);
}

.list .the_one img
{
    width: 196px;
    height: 133px;
    margin: 4.5px;
}
.list .the_one h4
{
    text-align: left;
    padding-left: 2px;
    margin: 4.5px;
}
.list .the_one .text_2
{
    text-align: left;
    padding: 20px 0;
    margin-left: 4.5px;
}
.list .the_one .text_2::before
{
    content: "RRP:\00A3 18.99";
    position: relative;
    bottom: 12px;
    font-size: 12px;
    color: #72a0a2;
    display: block;
}
.list .the_one .text_2::after
{
    content: "Your saving \00A3 9";
    position: relative;
    top: 10px;
    color: rgb(0, 255, 21);
    font-size: 12px;
    display: block;
}


 /* Carte Produit  */

footer{
    background: rgb(2, 2, 2);
    color: #fff;
}
footer p
{
    padding: 5px;
    text-align: center;
    margin: 15px 0;
}

@media screen and (min-width: 600px)
{
    
    a{
        font-size: 12pt;
        border: 1px solid;
        padding: 20px;

    }
    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 35px;
    }
    header .menu ul{
        padding-left: 10px;
    }
    header .menu ul li a, .navbar ol li a {
        padding: 8px;
        margin-right: 2px;
        border: none;
    }
    header ul li a:hover, .navbar ol li a:hover
    {
        text-decoration: underline;
    }
    .navbar ol {
        justify-content: flex-start;
        padding-left: 50px;
    }
    .the_first{
        text-align: center;
    }
    .list
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 10px;
    }
    .list .the_one img
    {
        width: 196px;
        height: 133px;
        margin: 4.5px;
    }
    .list .the_one {
        border: 1px solid #000;
        border-radius: 10px;
        width: 215px;
        text-align: center;
        height: auto;
        margin: 11px 15px;
    }
    .list .the_one:last-child {
        margin-bottom: 15px;
    }
    .list .the_one .text {
        min-width: 288px
    }
    
}
    
